---
name: Functional Tests

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/functional-tests.yml
      - src/**
      - action.yml
  schedule:
    # Every Friday at 09:00 JST
    - cron: "0 0 * * 5"
  workflow_dispatch: {}

defaults:
  run:
    shell: sh

jobs:
  get-versions:
    name: Get 3 latest versions
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      versions: ${{ steps.prepare-list.outputs.versions }}
    steps:
      - name: Prepare list
        id: prepare-list
        env:
          RELEASES_AMOUNT: "3"
          TARGET_REPO: "uiua-lang/uiua"
        run: |
          import json
          import os
          import re
          import requests

          headers = {
            "Accept": "application/vnd.github+json",
            "Authorization": os.environ.get("GITHUB_TOKEN"),
            "X-GitHub-Api-Version": "2022-11-28",
          }

          url = "https://api.github.com/repos/{0}/tags".format(os.environ.get("TARGET_REPO"))
          resp = requests.get(url, headers=headers, timeout=10)
          resp.raise_for_status()
          tags = resp.json()

          releases_amount = int(os.environ.get("RELEASES_AMOUNT"))
          versions = []

          for item in tags:
            if len(versions) >= releases_amount:
              break
            if re.match(r"^([0-9]+\.[0-9]+\.[0-9]+)$", item["name"]):
              versions.append(item["name"])

          with open(os.getenv('GITHUB_OUTPUT'), 'a') as fh:
            fh.write('versions={0}\n'.format(json.dumps(versions)))
        shell: python
  setup-uiua:
    name: Setup Uiua
    needs: [get-versions]
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu", "macos", "windows"]
        version: ${{ fromJSON(needs.get-versions.outputs.versions) }}
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Setup Uiua
        uses: ./
        with:
          version: "${{ matrix.version }}"
      - name: Validate command
        run: |
          [ "$(uiua run hello-world.ua 2>&1)" = '"Hello, World"' ] || exit 1
  test-force:
    name: Test force
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        force: ["true", "false"]
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Setup Uiua 1
        id: setup-uiua-1
        uses: ./
      - name: Setup Uiua 2
        id: setup-uiua-2
        uses: ./
        with:
          force: ${{ matrix.force }}
      - name: Test action completion
        run: |
          test_equal() {
            if [ "${2}" != "${3}" ]; then
              echo "::error title=${1}::Expected: ${3}. Actual: ${2}."
              exit 1
            fi
          }
          test_equal "Wrong \"installed\" output from setup-uiua-1" \
            "${{ steps.setup-uiua-1.outputs.installed }}" \
            "true"
          test_equal "Wrong \"installed\" output from setup-uiua-2" \
            "${{ steps.setup-uiua-2.outputs.installed }}" \
            "${{ matrix.force }}"
